<head>
    <title> <%= header %> </title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="utf-8">
    
    
    <script src="/b2ec1cb26d.js"></script>
    <link rel="stylesheet" href="/bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/jquery.slim.min.js"></script>
    <script src="/bootstrap4.min.js"></script>
    
</head>
    
    <body>
        
        
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
        <div class="container">
        <a href="/territories/available" class="navbar-brand"><i class="fas fa-map-marked-alt"></i> Territory Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
        <span class="navbar-toggler-icon" style="color:#FBFA04"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center">
            <% if(typeof home !== 'undefined'){ %>
                <li class="nav-item">
                    <a class="nav-link active" href="/territories/available">Home</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/territories/available">Home</a>
                </li>
            <% } %>
           
            <% if(typeof all !== 'undefined'){ %>
                <li class="nav-item">
                    <a class="nav-link active" href="/territories">Wszystkie tereny</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/territories">Wszystkie tereny</a>
                </li>
            <% } %>
           
            <% if(typeof newT !== 'undefined'){ %>
                <li class="nav-item">
                    <a class="nav-link active" href="/territories/new">Dodaj teren</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/territories/new">Dodaj teren</a>
                </li>
            <% } %>
            
            <% if(typeof newP !== 'undefined'){ %>
                <li class="nav-item">
                    <a class="nav-link active" href="/preachers/new">Dodaj głosiciela</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/preachers/new">Dodaj głosiciela</a>
                </li>
            <% } %>
            
            <% if(typeof pre !== 'undefined'){ %>
                <li class="nav-item">
                    <a class="nav-link active" href="/preachers">Głosiciele</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/preachers">Głosiciele</a>
                </li>
            <% } %>
           
            <li class="nav-item">
                <a class="nav-link" href="/logout">Wyloguj</a>
                        
            </li>
        </ul>
       
      </div>	
        </div>	
     
        
        
    </nav>