<!DOCTYPE html> 
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= header %></title>
        
        <script src="/b2ec1cb26d.js"></script>
        <link href="/bootstrap5.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/login.css">
        <script src="/jquery.slim.min.js"></script>
        
        <script src="/bootstrap5.min.js"></script>
    </head>
    <body>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-6 text-center align-content-center" id="info">
                    <div style="margin-top: 25%">
                        <h1 class="text-center"><i class="fas fa-map-marked-alt fa-3x"></i> <br> Territory Manager</h1>
                        <h4 class="text-center">I zarządzanie terenami staje się o wiele prostsze</h4>
                    </div>
                    
                </div>