<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 6%">
			<div id="form1">
				<a href="/bootcamps">
					<i class="fas fa-arrow-left"></i>
					Wróć do strony głównej kursów
				</a>
				<h1 class="login">Dodaj bootcamp</h1>
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                        
                    <form action="/bootcamps" method="post" enctype="multipart/form-data">
                        <p class="username">Wpisz nazwę bootcampa</p>
                        <input type="text" name="title" class="form-control" placeholder="Nazwa bootcampa">
                        <br>
                        <p class="username">Wpisz imiona i nazwiska instruktorów</p>
                        <input type="text" name="instructor" class="form-control" placeholder="Imiona i nazwiska instruktorów">
                        <br>
                        <p class="username">Wpisz postęp</p>
                        <input type="number" name="progress" class="form-control" placeholder="Postęp">
                        <br>
                        <p class="username">Wpisz link do kursu</p>
                        <input type="text" name="link" class="form-control" placeholder="Link do kursu">
                        <br>
                        <p class="username">Wybierz zdjęcie</p>
                        <input type="file" name="profile" style="color: white">
                        <br>
                        <br>
                        <input type="submit" value="Dodaj bootcamp" class="btn btn-primary button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>