<head>
    <title> Strona Główna | Leaflet Manager </title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W9LGF1QBYS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W9LGF1QBYS');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="utf-8">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="/b2ec1cb26d.js"></script>
    <link rel="stylesheet" href="/bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/jquery.slim.min.js"></script>
    <script src="/bootstrap4.min.js"></script>
    
</head>
    
    <body>
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 id="hello">Witaj na Leaflet Manager</h1>
                <h2 class="why">
                    <span class="border-red"></span>
                    Dlaczego używać tej aplikacji? 
                </h2>
                <div class="row margin">
                    <div class="col-lg-6 col-md-12">
                        <i class="fas fa-columns fa-3x icon"></i>
                    </div>
                    <div class="col-lg-6 col-md-12 text-justify">
                        <h2 class="why-header">
                            <span class="border-yellow"></span>
                            Wszystko w jednym miejscu
                        </h2>
                        <p class="why-description">
                            Zarządaj terenami ulotkowymi, ulotkami oraz pracownikami
                            z jednego panelu administracyjnego. Możesz również łatwo przydzielić teren
                            jednemu z pracowników.
                        </p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-lg-6 col-md-12 d-lg-none d-md-block">
                        <i class="fas fa-keyboard fa-3x icon"></i>
                    </div>
                    <div class="col-lg-6 col-md-12 text-justify">
                        <h2 class="why-header">
                            <span class="border-yellow"></span>
                            Korzyści dla wszystkich
                        </h2>
                        <p class="why-description">
                            Zarówno firma, jak i jej pracownicy mogą korzystać z naszej aplikacji.
                            Mają oni dostęp do panelu, gdzie mogą zobaczyć przydzielone im tereny oraz
                            te, które są wolne. Na te, które nie ma pracownika mogą się nawet zapisać!
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 d-lg-block d-none">
                        <i class="fas fa-keyboard fa-3x icon"></i>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-lg-6 col-md-12">
                        <i class="fas fa-mobile fa-3x icon"></i>
                    </div>
                    <div class="col-lg-6 col-md-12 text-justify">
                        <h2 class="why-header">
                            <span class="border-yellow"></span>
                            Dostępność wszędzie
                        </h2>
                        <p class="why-description">
                            Nasza aplikacja jest dostosowana do wszystkich urządzeń. Można z niej korzystać
                            zarówno na komputerze, jak i telefonie czy tablecie.
                        </p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-lg-6 col-md-12 d-lg-none d-md-block">
                        <i class="fas fa-shield-alt fa-3x icon"></i>
                    </div>
                    <div class="col-lg-6 col-md-12 text-justify">
                        <h2 class="why-header">
                            <span class="border-yellow"></span>
                            Bezpieczeństwo
                        </h2>
                        <p class="why-description">
                            Aplikacja zawiera zabezpieczenia przed najbardziej popularnymi
                            atakami hakerskimi jak Sitejacking czy Cross Site Scripting.
                            Dodatkowo ma certyfikat SSL.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 d-lg-block d-none">
                        <i class="fas fa-shield-alt fa-3x icon"></i>
                    </div>
                </div>
                <h2 class="why">
                    <span class="border-red"></span>
                    Zacznij korzystać z naszej aplikacji!
                </h2>
                <a href="/companies/login" class="btn btn-success btn-green">Zaloguj jako firma</a>
                <a href="/employees/login" class="btn btn-dark btn-black">Zaloguj jako pracownik</a>
            </div>
        </div>


<%- include("partials/footer") %>