<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center footer">
            <p>
                5zeta <script>document.write(new Date().getFullYear())</script>
                &copy; Wszelkie prawa zastrzeżone przez:
                <a href="https://mkdportfolio.pl">MK</a>
            </p>
        </div>
    </div>
</div>
<footer>
    <!-- Quantcast Tag -->
<script type="text/javascript">
    var _qevents = _qevents || [];
    
    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();
    
    _qevents.push({
    qacct:"p-rgk66EQhTh5qd",
    uid:"maciejkuta6@gmail.com"
    });
    </script>
    
    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-rgk66EQhTh5qd.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
</footer>
</body>
</html>