@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.ttf") format("truetype");
}

body {
    background: #ece9e9;
}

.nav-link {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.card {
    background: #fad6a5;
  }
h1 {
    font-family: "Nunito", sans-serif;
    color: #28a745;
    font-size: 35px;
    font-weight: 700;
    margin-top: 70px;
}

h4 {
    font-family: "Nunito", sans-serif;
    color: #28a745;
    font-size: 22px;
    font-weight: 400;
}

#name {
    font-family: "Nunito", sans-serif;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.info {
    font-family: "Nunito", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 19px;
}
.navbar-brand {
    font-family: "Nunito", sans-serif;
}

.login {
    font-family: "Nunito", sans-serif;
    color: #28a745;
    font-size: 35px;
}

.details-item {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.details-item:hover {
    cursor: pointer;
    background: #28a745;
    color: white;
    padding: 4px 8px;
}


input[type=search] {
    
    font-family: "Nunito", sans-serif;
    color: #28a745;
}

.form-control:focus {
    box-shadow: none;
    border-color: #28a745;
}

input[type=search]::placeholder {
    font-family: "Nunito", sans-serif;
    color: #28a745;
}