<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 17%">
			<div id="form1">
				<a href="/">
					<i class="fas fa-arrow-left"></i>
					Wróć do strony głównej
				</a>
				<h1 class="login">Dodaj ogłoszenie</h1>
				<% if(error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<%= error %>
					</div>
				<% } %>
                    <form action="/announcements" method="post">
                        <p class="username">Treść ogłoszenia po polsku</p>
                        <textarea name="polish" id="polish" class="form-control" placeholder="Polski"></textarea>
                        <br>
                        <p class="username">Treść ogłoszenia po angielsku</p>
                        <textarea name="english" id="english" class="form-control" placeholder="Angielski"></textarea>
                        <br>
                        <input type="submit" value="Dodaj ogłoszenie" class="btn btn-primary button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>