<% include ./partials/headera %> 
                <div class="col-lg-6 col-md-12" id="form">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12" style="margin-top: 20%">
                            <div id="form1">
                                <a href="/">
                                    <i class="fas fa-arrow-left"></i>
                                    Wróć do strony głównej
                                </a>
                                <h1 class="login">Logowanie do portfolio</h1>
                                <% if(error.length > 0){ %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <% if(success.length > 0){ %>
                                    <div class="alert alert-success" role="alert">
                                        <%= success %>
                                    </div>
                                <% } %>
                                <form action="/login" method="post" id>
                                   
                                    <label for="username" class="username">
                                        Nazwa użytkownika
                                        
                                    </label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="username" id="username" placeholder="heheszki" aria-label="Hasło" aria-describedby="basic-addon1">
                                    </div>
                                    <label for="password" class="username">
                                        Hasło
                                        
                                    </label>
        
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                    </div>
                                    <input type="submit" value="Zaloguj się" class="btn btn-primary button">
                                   
                                </form>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
		<script src="/script.js"></script>
    </body>
</html>
