<%- include("./partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 22%">
            <div id="form1">
                <a href="/login">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony logowania
                </a>
                <h1 class="login">Nie pamiętam hasła 5zeta</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <form action="/forgot" method="post">
                    
                    <div class="form-floating mb-3">
                       
                        <input type="email" class="form-control" autocomplete="off" name="email" id="email" placeholder="jankowalski@gmail.com" aria-label="Email" aria-describedby="basic-addon1" required>
                        <label for="email" class="username">
                            Podaj swój email
                            
                        </label>
                        
                    </div>

                    <input type="submit" value="Poproś o zmianę hasła" class="btn btn-warning button btn-golden" style="color: black">
                </form>
            </div>
        </div>


    </div>
</div>

<script>

    $(".form-control").on('click', function(){
                    $(".form-control").css({
                        
                        "box-shadow": "none"
                    });
                });
    </script>
</body>

</html>