<%- include("partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 15%">
            <div id="form1">
                <a href="/">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Wsparcie 5zeta</h1>
                <p class="description">
                    Chciałbyś okazać wdzięczność za ten portal lub wesprzeć jego rozwój?
                    Masz do tego trzy możliwości:
                  
                  
                </p>
                <div class="description" style="text-align: center;">
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="crazydev" data-color="#20b2aa" data-emoji=""  data-font="Cookie" data-text="Kup mi kawe" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
                    <br>
                    lub
                    <br>
                    Wyślij wybraną kwotę na konto: <strong>84 1090 2079 0000 0001 4821 7940</strong>
                    <br>
                    lub
                    <br>
                    Wyślij pieniądze w aplikacji Revolut - nazwa użytkownika: <strong>maciejr50g</strong>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

</body>
</html>